/* Title */
h3{
  font-size: 15px;
}

/* Image Product */
.imgProduct{
    height: 100px;
    width: 100px;  
  }

/* Product container */
.product_item{
    display: grid;
    grid-template-columns: 50% 50%;
  }
