.menu{
    width: 100%;
}

.menuContenido{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 25px 30px;
    margin: 15px;
    border-radius: 67px 67px 67px 67px;
    -moz-border-radius: 67px 67px 67px 67px;
    -webkit-border-radius: 67px 67px 67px 67px;
    border: 5px solid #ffffff;
    
    background-color: #8a0a0a;
}

.title{
    color: #fff;
    margin-bottom: 10px;
    text-align: center;
}

a {
    text-decoration: none;
    color: #fff;
}

.items{
    
    
    display: flex;
    gap: 20px;
    font-size: 25px;
}

