.products {
    list-style: none;
    font-size: 22px;
    vertical-align: center;
    -webkit-box-shadow: 10px 15px 49px -16px rgba(0,0,0,0.58);
    -moz-box-shadow: 10px 15px 49px -16px rgba(0,0,0,0.58);
    box-shadow: 10px 15px 49px -16px rgba(0,0,0,0.58);
    background-color: #e5fcfa;
    padding: 18px;
  }

 
  .containerProducts{
    margin: 30px;
  }

  li{
    display: grid;
    justify-content: center;
    row-gap: 10px;
  }

  ul{
    padding-left: 0px;
  }


  .imgProducts{
    width: 130px;
    height: 130px;
    border-radius: 10px;
  }

  .productsGrid{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 15px;
    justify-content: center;
  }

  main{
    justify-content: center;
  }

  .btnAgregarCarrito{
    height: 45px;
    font-size: 10px;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
    background-color: #8a0a0a;
    color: #fff;
  }

  .btnView{
    height: 30px;
    font-size: 10px;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
    background-color: hsla(0, 86%, 29%, 0.5);
    color: #fff;
  }